body {
    margin: 0;
    padding: 0;
}
div.destaque {
    margin: 0 35px;
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    width: calc(100% - 100px);
    z-index: 1;
}
div.destaqueFundo {
    background-color: white;
    color: white;
    margin: 0 35px;
    opacity: .6;
    padding: 5px 15px;
    position: absolute;
    top: 10px;
    width: calc(100% - 100px);
    z-index: 0;
}

div.content {
    background-color: white;
    border: 5px solid gray;
    box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.4);
    position: absolute;
    left: 50px;
    height: calc(100% - 100px);
    overflow: auto;
    padding: 10px;
    top: 50px;
    width: calc(100% - 110px);
    z-index: 3;
}
div.content button{
    position: fixed;
    top: 65px;
    right: 65px;
}

.lista {
    bottom: 10px; 
    display: block;
    position: absolute; 
    width: 100%; 
}
.lista ul {
    background-color: white;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    max-width: calc(100% - 60px);
    padding: 10px;
    opacity: .6;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.lista li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
    width: 200px;
    white-space: normal;
    zoom: 40%;
}
.lista li .datetime, .lista li h1, .lista  li h2{
    overflow: hidden;
    width: 100%;
}
.lista li.destaque {
    background-color: gray;
}
.lista li.played {
    border-top: 15px solid gray;
}

.configuracoes{
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    left: calc(50% - 150px);
    max-height: 300px;
    opacity: .8;
    overflow: auto;
    position: absolute;
    top: calc(50% - 150px);
    width: 300px;
    z-index: 2;
}
.configuracoes ul {
    list-style-type: none;
}
.configuracoes input[type="range"] {
    width: 90%;
}
.configuracoes button{
    margin: 5px;
}

.colorBlock{
    display: inline-block;
    height: 20px;
    width: 20px;
}
.sourceBlock{
    margin: 5px 0;
}
.lastDate, .nextDate {
    font-size: 9px;
    margin-left: 5px;
    position: absolute;
}
.lastDate {
}
.nextDate {
    color: green;
    margin-top: 11px;
}