body {
    margin: 0;
    padding: 0;
}
.highlight {
    border-left: 15px solid black;
    bottom: 40px;
    margin: 0 35px 0 5px;
    padding: 5px 15px;
    position: absolute;
    max-width: calc(100% - 100px);
    z-index: 1;
}
.highlightFundo {
    background-color: white;
    border-left: 15px solid transparent;
    bottom: 40px;
    color: white;
    margin: 0 35px 0 5px;
    opacity: .6;
    padding: 5px 15px;
    position: absolute;
    max-width: calc(100% - 100px);
    z-index: 0;
}

.content {
    background-color: white;
    border: 5px solid gray;
    box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.4);
    position: absolute;
    left: 50px;
    max-height: calc(100% - 100px);
    overflow: auto;
    padding: 10px;
    top: 50px;
    width: calc(100% - 110px);
    z-index: 3;
}
.content button{
    position: fixed;
    top: 65px;
    right: 65px;
}
.contentDestaque{
    height: 100%; 
    left: 0;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: -1;
}

.lista {
    display: block;
    height: 50%;
    position: absolute; 
    right: 0;
    top: 10px; 
    width: 207px;
}
.lista ul {
    background-color: white;
    display: block;
    list-style-type: none;
    margin: 0;
    max-height: 100%;
    padding: 0;
    opacity: .6;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.lista li {
    border-left: 8px solid gray;
    display: block;
    padding: 10px;
    margin: 0;
    vertical-align: bottom;
    width: 500px;
    white-space: normal;
    zoom: 40%;
}
.lista li img{
    float: left;
    height: 50px;
    width: 100px;
}
.lista li h2{
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
    width: 380px;
}
.lista li h2 .datetime{
    float: right; 
    font-size: .8em;
    margin-left: 10px;
}
.lista li.destaque {
    background-color: gray;
}
.lista li::after {
    content:""; 
    display:block;
    border-left: 6px solid transparent;
}
.lista li.played {
}

.configuracoes{
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    left: calc(50% - 150px);
    max-height: 300px;
    opacity: .8;
    overflow: auto;
    position: absolute;
    top: calc(50% - 150px);
    width: 300px;
    z-index: 2;
}
.configuracoes ul {
    list-style-type: none;
}
.configuracoes input[type="range"] {
    width: 90%;
}
.configuracoes button{
    margin: 5px;
}
.gear{
    bottom: 40px;
    height: 30px;
    position: absolute; 
    right: 10px; 
}

.sourceBlock{
    margin: 5px 0;
}
.lastDate, .nextDate {
    font-size: 9px;
    margin-left: 5px;
    position: absolute;
}
.lastDate {
}
.nextDate {
    color: green;
    margin-top: 11px;
}