<div class="configuracoes" ng-show="configuracoes == true">    
    <button type="button" class="close" ng-click="$parent.configuracoes = null;">Fechar</button>
    <ul>
        <li ng-repeat="source in sources" class="sourceBlock">
            <label>
                <input type="checkbox" ng-model="source.enabled" 
                    ng-change="buscarMaisItens()"/>
                <span class="colorBlock" 
                      ng-style="{
                        'background-color' : getMediaAttr(source.source, 'color', 'transparent')
                      }"
                      >&nbsp;</span>
                {{source.name}} <span class="lastDate">{{source.lastDate}}</span><span class="nextDate">{{source.nextDate}}</span>
            </label>
        </li>
    </ul>
    <center>
        <label><input type="checkbox" ng-model="$parent.listaExhibit" ng-change="toggleListaExhibit()">Exibir Lista Notícias?</label>
        <br/>
        <label><input type="checkbox" ng-model="$parent.showSubtitle" ng-change="toggleShowSubtitle()">Exibir Resumo?</label>
        <br/>
        <br/>
        Velocidade de troca dos itens ({{$parent.avancarProximoItemTempo / 1000}}s):
        <input type="range" max="60000" min="2500" step="500" ng-model="$parent.avancarProximoItemTempo"
               ng-change="changeIntervalProximoItem()"/>
        <button type="button" ng-click="buscarMaisItens(true)">Ignorar cache</button>
        <button type="button" ng-click="buscarSources()">Atualizar Fontes</button>
    </center>
    <br/>
</div>
<a href="#Configuration" target="_self" ng-click="$parent.configuracoes = true;" class="gear">
    <img src="img/interagi.png" alt="Configurações" title="Configurações"/>
    TV
</a>