<div class="lista" ng-show="$parent.listaExhibit">
    <ul>
        <li ng-repeat="article in articles" ng-style="{
                'border-color' : getMediaAttr(article.source, 'color', 'transparent')
            }"
            ng-class="{'destaque' : article.destaque, 'played' : article.played}" >
            <a href="#{{$index}}" ng-click="trocarItem(article, $index);">
                <img src="{{article.thumbnail ? article.thumbnail : article.img}}"
                     ng-if="article.img">
                <h2 ng-if="article.titulo">
                    <span class="datetime" ng-if="article.datetime">
                        {{article.datetime}}
                    </span>
                    {{article.titulo}}
                </h2>
            </a>
        </li>
    </ul>  
</div>